@media screen and (max-width:1080px){   
    .text___wrap{
        width: 100%;
    }
}
@media screen and (max-width:920px){   
    .text___wrap{
        height: 500px;
        overflow: hidden;
    } 
    .text__desc-lorem{
        font-size: clamp(0.25rem, -0.074rem + 1.62vw, 1rem);
        line-height: 22px;
    }
    .text__title{
        font-size: clamp(0.25rem, -0.148rem + 1.99vw, 1.17rem);
        line-height: 20px;
    }
}
@media screen and (max-width:820px){   
    .text__desc-lorem{
        line-height: 14px;
        margin-top: 15px;
    }
}
@media screen and (max-width:890px){   
    .text__desc-lorem{
        line-height: 18px;
    }
}
@media screen and (max-width:730px) {
    .header_nav-list{
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_nav-list-item-link{
        font-size: clamp(0.5rem, 0.068rem + 2.16vw, 1.5rem);
        margin-top: 10px;
    }
}