*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1060px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    padding: 0 15px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.header-nav{
    display: flex;
    justify-content: center;
}
.header-nav-logo img{
    object-fit: cover;
    max-width: 1110px;
    height: 100%;
}
.header_nav-list{ 
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}
.header_nav-list-item-link{
    color: grey;
}
.logo{
    display: flex;
    width: 120px;
    height: 151px;
    margin: 25px auto;
}
.banner__img{
    height: 100%;
    width: 100%;
}
/* .container2{
    max-width: 1110px;
    width: 100%;
    height: 500px;
    display: flex;
    margin: 30px auto;
} */
.text___wrap{
    display: flex;
    flex-direction: row;
    gap: 30px;
    color:#808080;
}
.text__desc-ansv{
    width: 730px;
    background: #f0f0f0;
    padding: 50px 95px 51px 40px;
}
.text__title{
    color: #4581B7;
}
.text__desc-lorem{
    color:#808080;
    font-size: 16px;
    font-weight: 400px;
    line-height: 27px;
    text-align: left;
    margin: 25px auto auto auto;
}
.banner__desc{
    max-width: 350px;
    width: 100%;
    background: #f0f0f0;
    padding: 50px 40px 159px 24px;

}
.banner__desc-lorem{
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    margin: 25px auto auto;
}
.banner__title{
    width: 150px;
    color: #4581B7;
}
.footer{
    width: 100%;
    height: 100%;
    margin-top: 30px;
}